<%= render(:partial => "shared/recommended_articles", :locals => {:articles => @articles}) %>

<div class="wrap">
  <div class="centered">
    <div style="
           background-image:
             url('<%= image_url("ads/rect_s/#{rand(1).to_s}.png"); %>');"
         class="ad side rect"></div>
  </div>
  <article>
    <div class="category">News</div>
    <div class="header">
      <h1><%= @article.title %></h1>
      <h3><%= @article.subtitle %></h3>
    </div>
    <div class="meta">
      By <span class="author"><%= @article.author %></span>
    </div>
  
    <div class="side">
      <div style="margin-bottom: 94px;
             background-image:
               url('<%= image_url("ads/square/#{rand(2).to_s}.png"); %>');"
            class="ad square"></div>
      <div class="ad up rect"></div>
    </div>
  
  
    <div class="content">
      <div class="hero">
        <%= image_tag(@article.images[0].url, :alt => @article.images[0].caption) %>
        <div class="caption">
        <p><%= @article.images[0].caption %></p>
        <p class="attribution"><%= @article.images[0].attribution %></p>
        </div>
      </div>
  
      <%= render(:partial => "shared/social") %>

      <div class="words" length="<%= params[:standard]? 'long' : params[:l] %>">
        <% @article.sections.each do |section| %>
          <div class="section <%= section.id %> <% if params[:standard] %> <%= 'standard' %><% end %>">
            <div class="main">
              <div class="length short">
                <%= section.short.html_safe %>
              </div>
              <div class="length medium">
                <%= section.medium.html_safe %>
              </div>
              <div class="length long">
                <%= section.long.html_safe %>
              </div>
            </div>
            <% unless params[:standard] %>
            <div class="adjust">
              <div>
                <a class="shrink" href="#">Shrink</a>
                <a section="<%= section.id %>" class="icon up-arrow red" href="#"></a>
              </div>
              <div>
                <a section="<%= section.id %>" class="icon down-arrow green" href="#"></a>
                <a class="expand" href="#">Expand</a>
              </div>
            </div>
            <% end %>
            <div class="clear"></div>
          </div>
        <% end %>
        <div class="clear"></div>
      </div>
      
      <div class="clear"></div>
    </div>
  </article>
</div>

<script type="text/javascript">
  $(document).ready(
    function() {
      /* set current length to preference */
      var preference = $('.words').attr('length');
      preference = (preference == '') ? 'short' : preference;
      
      console.log('Preference is ' + preference + '.');
      
      $('article .section').css({
        'min-height': ($('article .section .adjust').height() + 8) + 'px'
      });
      
      $('.section .length').hide();
      $('.section .' + preference).addClass('current').show();
      
      switch(preference) {
      case 'short':
        $('.section .adjust .up-arrow').addClass('inactive');
        break;
      case 'long':
        $('.section .adjust .down-arrow').addClass('inactive');
        break;
      }
      
      $('.shrink').click(
        function(e) {
          e.preventDefault();
          $(this).parent().find('.up-arrow').trigger('click');
      });
      
      $('.expand').click(
        function(e) {
          e.preventDefault();
          $(this).parent().find('.down-arrow').trigger('click');
      });
      
      $('.section .adjust .up-arrow').click(
        function(e) {
          e.preventDefault();
          var section_id = $(this).attr('section');
          var section = $('.section.' + section_id)
          var current = section.find('.current');
          if(current.hasClass('long')) {
            section.find('.medium').addClass('current').show();
          } else if(current.hasClass('medium')) {
            $(this).addClass('inactive');
            section.find('.short').addClass('current').show();
          } else return;
          
          $(this).parents('.adjust').find('.down-arrow').removeClass('inactive');
          current.removeClass('current').hide();
      });
      
      $('.section .adjust .down-arrow').click(
        function(e) {
          e.preventDefault();
          var section_id = $(this).attr('section');
          var section = $('.section.' + section_id)
          var current = section.find('.current');
          if(current.hasClass('short')) {
            section.find('.medium').addClass('current').show();
          } else if(current.hasClass('medium')) {
            $(this).addClass('inactive');
            section.find('.long').addClass('current').show();
          } else return;
          
          $(this).parents('.adjust').find('.up-arrow').removeClass('inactive');
          current.removeClass('current').hide();
      });
      
      
      // data collection stuff
      function sendData(data) {
        console.log('sending data');
        $.ajax({
          url: '/data',
          data: data,
          type: 'POST',
          success: function(response) {
            console.log(response);
          }
        });
      }
      
      // w/e
      sendData({
        'article_id': <%= @article.id %>
      });
      
      $('.section .adjust .up-arrow').click(
        function(e) {
          if($(this).hasClass('inactive')) {
            return;
          }
          sendData({
            'click_type': 'shrink',
            'section_id': $(this).attr('section')
          });
      });
      
      $('.section .adjust .down-arrow').click(
        function(e) {
          if($(this).hasClass('inactive')) {
            return;
          }
          sendData({
            'click_type': 'expand',
            'section_id': $(this).attr('section')
          });
      });
  });
</script>