<!DOCTYPE html>
<html>
<head>
  <title>Gist</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="main">
  <div class="left-side">
    <a class="button home" href="/">Home</a>
    <a class="button search" href="#">Search</a>
  </div>
  <h1 class="title"><a href="/">Gist</a></h1>
  <div class="right-side">
  
    <% if session[:session_id] %>
    <a class="button logout" href="/logout">Log out</a>
    <% else %>
    <a class="button login" href="/login">Log in</a>
    <% end %>
  </div>
</header>

<div class="content-wrap">
  <div class="content">
    <% unless flash.alert.nil? %>
      <div class="error"><%= flash.alert %></div>
    <% end %>
    <%= yield %>
  </div>
</div>

<%= render(:partial => "layouts/footer") %>

</body>
</html>
